In [57]:
!pip install apyori

Requirement already satisfied: apyori in /opt/anaconda3/lib/python3.11/site-packages (1.1.2)

In [58]:

import pandas as pd
import numpy as np
from apyori import apriori

In [59]:
df = pd.read_csv("data.csv", header=None)

In [60]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
#replacing empty value with 0.
df.fillna(0,inplace=True)

In [62]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
transactions = []
for i in range(len(df)):
    row_list = []
    for j in range(len(df.columns)):
        if(df.values[i,j]!=0):
            row_list.append(df.values[i,j])
    transactions.append(row_list)
print(len(transactions))

[['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil'], ['burgers', 'meatballs', 'eggs'], ['chutney'], ['turkey', 'avocado'], ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea'], ['low fat yogurt'], ['whole wheat pasta', 'french fries'], ['soup', 'light cream', 'shallot'], ['frozen vegetables', 'spaghetti', 'green tea'], ['french fries'], ['eggs', 'pet food'], ['cookies'], ['turkey', 'burgers', 'mineral water', 'eggs', 'cooking oil'], ['spaghetti', 'champagne', 'cookies'], ['mineral water', 'salmon'], ['mineral water'], ['shrimp', 'chocolate', 'chicken', 'honey', 'oil', 'cooking oil', 'low fat yogurt'], ['turkey', 'eggs'], ['turkey', 'fresh tuna', 'tomatoes', 'spaghetti', 'mineral water', 'black tea', 'salmon', 'eggs', 'chicken', 'extra dark chocolate'], ['meatballs', 'milk', 'honey', 'french fries', 'protein bar'], ['red wine', 'shrimp', 'pasta', 'pepper', 'eggs', 'chocolate', 'shampoo'], ['rice', 'sparkling water'], ['spaghetti', 'mineral water', 'ham', 'body spray', 'pancakes', 'green tea'], ['burgers', 'grated cheese', 'shrimp', 'pasta', 'avocado', 'honey', 'white wine', 'toothpaste'], ['eggs'], ['parmesan cheese', 'spaghetti', 'soup', 'avocado', 'milk', 'fresh bread'], ['ground beef', 'spaghetti', 'mineral water', 'milk', 'energy bar', 'black tea', 'salmon', 'frozen smoothie', 'escalope'], ['sparkling water'], ['mineral water', 'eggs', 'chicken', 'chocolate', 'french fries'], ['frozen vegetables', 'spaghetti', 'yams', 'mineral water'], ['herb & pepper', 'tomato sauce', 'light cream', 'magazines'], ['mineral water', 'chocolate', 'avocado', 'eggs'], ['turkey', 'french fries', 'strawberries'], ['frozen vegetables', 'strong cheese', 'chocolate'], ['cookies'], ['pickles', 'spaghetti', 'salmon', 'escalope'], ['energy bar', 'french fries'], ['red wine', 'ground beef', 'mineral water'], ['mineral water', 'cake', 'cottage cheese'], ['pickles', 'champagne', 'green tea'], ['spaghetti'], ['fresh tuna', 'frozen vegetables', 'spaghetti', 'mineral water', 'honey', 'whole wheat rice', 'frozen smoothie', 'escalope'], ['spaghetti'], ['soup', 'meatballs', 'hot dogs', 'sparkling water'], ['escalope'], ['soup', 'avocado', 'french fries', 'hot dogs', 'brownies', 'body spray', 'pancakes', 'green tea'], ['mineral water', 'chicken', 'cereals', 'clothes accessories'], ['mineral water', 'bug spray'], ['avocado', 'muffins'], ['burgers', 'black tea', 'green tea'], ['spaghetti', 'chocolate', 'brownies', 'white wine', 'green tea'], ['fresh tuna', 'mineral water', 'eggs'], ['spaghetti', 'muffins'], ['spaghetti', 'chocolate'], ['french fries', 'escalope', 'champagne'], ['tomato sauce', 'light mayo'], ['turkey', 'fresh tuna', 'frozen vegetables', 'tomatoes', 'ground beef', 'spaghetti', 'mineral water', 'chocolate', 'soup', 'milk', 'olive oil'], ['eggs', 'cookies'], ['soup', 'chicken', 'gums', 'soda', 'body spray', 'energy drink', 'green tea'], ['turkey', 'frozen vegetables', 'mineral water', 'cider', 'cooking oil', 'green tea'], ['spaghetti'], ['clothes accessories'], ['energy drink'], ['soup', 'bug spray', 'shallot', 'protein bar', 'green tea'], ['turkey', 'eggs'], ['french fries'], ['chocolate', 'milk'], ['herb & pepper', 'whole wheat pasta', 'ground beef', 'mineral water', 'avocado', 'cider', 'whole wheat rice'], ['cookies'], ['shrimp', 'pasta'], ['grated cheese', 'herb & pepper', 'tomatoes', 'tomato sauce', 'corn'], ['burgers', 'escalope', 'shallot'], ['cookies'], ['yogurt cake'], ['soup', 'eggs'], ['cookies'], ['mineral water', 'chocolate', 'low fat yogurt'], ['eggs', 'strawberries'], ['grated cheese', 'ground beef', 'spaghetti', 'mineral water', 'white wine'], ['mint'], ['eggs', 'cake', 'french fries'], ['burgers', 'spaghetti', 'milk', 'french fries', 'green tea'], ['mineral water', 'energy bar', 'butter', 'french fries'], ['burgers', 'grated cheese', 'herb & pepper', 'mineral water', 'eggs', 'cooking oil'], ['energy bar'], ['energy bar', 'energy drink'], ['chocolate', 'frozen smoothie'], ['low fat yogurt'], ['asparagus', 'salad'], ['burgers', 'french fries', 'low fat yogurt', 'green tea'], ['low fat yogurt'], ['burgers', 'herb & pepper', 'shrimp', 'pasta', 'spaghetti', 'mineral water', 'meatballs', 'olive oil', 'energy bar', 'french wine', 'eggs', 'salt'], ['champagne', 'low fat yogurt'], ['champagne'], ['burgers', 'almonds', 'eggs', 'french fries', 'cookies', 'green tea'], ['ham', 'soup', 'escalope', 'body spray'], ['turkey', 'ham', 'frozen vegetables', 'pepper', 'oil', 'extra dark chocolate', 'tea', 'magazines'], ['muffins', 'eggs', 'cookies'], ['cookies'], ['frozen vegetables', 'whole wheat pasta', 'ground beef', 'spaghetti', 'chocolate', 'green tea']]

In [65]:
rules = apriori(transactions,min_support=0.003,min_confidance=0.2,min_lift=3,min_length=2)

In [66]:
print(rules)

<generator object apriori at 0x117f5ada0>

In [67]:
results = list(rules)