In [28]:
import numpy as np
import pandas as pd

df = pd.read_csv('Data.csv')
df

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,capillary_refill_time,pain,...,rectal_examination_feces,packed_cell_volume,total_protein,abdominocentesis_total_protein,lesion_site,lesion_type,lesion_subtype,PossibleY,PossibleY2,PossibleY3
0,1,1,534817,39.2,88,20,?,?,1,3,...,4,50,85,2,2208,0,0,2,3,2
1,2,1,530334,38.3,40,24,1,1,1,3,...,1,33,6.7,?,0,0,0,1,1,2
2,1,9,5290409,39.1,164,84,4,1,2,2,...,3,48,7.2,5.3,2208,0,0,1,2,1
3,2,1,530255,37.3,104,35,?,?,2,?,...,?,74,7.4,?,4300,0,0,2,2,2
4,2,1,528355,?,?,?,2,1,1,2,...,3,?,?,?,0,0,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,1,1,529126,38,50,36,?,1,1,3,...,3,39,6.6,5.3,8400,0,0,1,1,1
289,2,1,535054,38.6,45,16,2,1,1,1,...,1,43,58,?,0,0,0,2,1,2
290,1,1,528890,38.9,80,44,3,3,1,2,...,3,54,6.5,?,7111,0,0,2,2,1
291,1,1,530034,37,66,20,1,3,1,4,...,1,35,6.9,?,31110,0,0,2,2,1
292,1,1,534004,?,78,24,3,3,1,?,...,?,43,62,2,2209,0,0,2,3,2

In [29]:
df = df.replace('?', np.NaN)
df

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,capillary_refill_time,pain,...,rectal_examination_feces,packed_cell_volume,total_protein,abdominocentesis_total_protein,lesion_site,lesion_type,lesion_subtype,PossibleY,PossibleY2,PossibleY3
0,1,1,534817,39.2,88,20,NaN,NaN,1,3,...,4,50,85,2,2208,0,0,2,3,2
1,2,1,530334,38.3,40,24,1,1,1,3,...,1,33,6.7,NaN,0,0,0,1,1,2
2,1,9,5290409,39.1,164,84,4,1,2,2,...,3,48,7.2,5.3,2208,0,0,1,2,1
3,2,1,530255,37.3,104,35,NaN,NaN,2,NaN,...,NaN,74,7.4,NaN,4300,0,0,2,2,2
4,2,1,528355,NaN,NaN,NaN,2,1,1,2,...,3,NaN,NaN,NaN,0,0,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,1,1,529126,38,50,36,NaN,1,1,3,...,3,39,6.6,5.3,8400,0,0,1,1,1
289,2,1,535054,38.6,45,16,2,1,1,1,...,1,43,58,NaN,0,0,0,2,1,2
290,1,1,528890,38.9,80,44,3,3,1,2,...,3,54,6.5,NaN,7111,0,0,2,2,1
291,1,1,530034,37,66,20,1,3,1,4,...,1,35,6.9,NaN,31110,0,0,2,2,1
292,1,1,534004,NaN,78,24,3,3,1,NaN,...,NaN,43,62,2,2209,0,0,2,3,2

In [35]:
for column in df.columns:
    X_median = df[column].median()
    df[column] = df[column].fillna(X_median)
df.isnull().sum()

surgery                           0
age                               0
hospital_number                   0
rectal_temperature                0
pulse                             0
respiratory_rate                  0
temperature_of_extremities        0
peripheral_pulse                  0
capillary_refill_time             0
pain                              0
peristalsis                       0
abdominal_distension              0
nasogastric_tube                  0
nasogastric_reflux                0
nasogastric_reflux_ph             0
rectal_examination_feces          0
packed_cell_volume                0
total_protein                     0
abdominocentesis_total_protein    0
lesion_site                       0
lesion_type                       0
lesion_subtype                    0
PossibleY                         0
PossibleY2                        0
PossibleY3                        0
dtype: int64

2.0